<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>management</title>
</head>
<body style="margin: auto;">
    <h1>Warehouse management</h1>
    <a href="/new">New Product</a>
    <form action="/search" method="post" style="margin: auto;">
        Prodcut's name to search <input type="text" name="txtSearch">
        <input type="submit" value="Search">
    </form><br>
    <table border="1" >
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Price</td>
            <td>Quantity</td>
            <td>Color</td>
            <td>Delete</td>
        </tr>
        {{#each model}}
        <tr>
            <td>{{_id}}</td>
            <td>{{productName}}</td>
            <td>{{price}}</td>
            <td>{{quantity}}</td>
            <td>{{color}}</td>
            <td><a href="/delete?pid={{_id}}">{{_id}}</a></td>
        </tr>
        {{/each}}
    </table>
</body>
</html>