<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>management</title>
    <style>
        .title h1{
            text-align: center;
            
        }
        .title {
            background-color: coral;
        }
    </style>
</head>

<body>
    <div class="title"><h1 >Warehouse management</h1></div>
    <a href="/new" style="text-align: center;">New Product</a>
    <form action="/search" method="post" style="text-align: center;">
        Prodcut's name to search <input type="text" name="txtSearch" minlength="3">
        <input type="submit" value="Search">
    </form><br>
    <table border="1" style="margin: auto;" >
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Price</td>
            <td>Quantity</td>
            <td>Color</td>
            <td>Delete</td>
        </tr>
        {{#each model}}
        <tr>
            <td>{{_id}}</td>
            <td>{{productName}}</td>
            <td>{{price}}</td>
            <td>{{quantity}}</td>
            <td>{{color}}</td>
            <td><a href="/delete?pid={{_id}}">{{_id}}</a></td>
        </tr>
        {{/each}}
    </table>
</body>
</html>